<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<style>
    .container{
        width: 50%;
        margin: auto;
        margin-top: 10%;
    }

     .btn-primary{
        margin-top: 10px;
        width: 100%;
    }
</style>
</head>
<body>
 

    <div class="container">
        <h3>Upload Image</h3>
        <div class="row">

            <div class="col-sm-6" style="border: 2px solid grey; padding:20px; border-radius:10px;">
            <p>Image for slot 1</p>
            <input type="file" id="topfile">
            <button type="button" class="btn btn-primary" style="margin: 10px 0;" onclick="uploadTopImage()">Submit</button>
            </div>

            <div class="col-sm-6" style="border: 2px solid grey; padding:20px; border-radius:10px;">
            <p>Image for slot 2</p>
            <input type="file" id="bottomfile">
            <button type="button" class="btn btn-primary" style="margin: 10px 0;" onclick="uploadbottomImage()">Submit</button>
            </div>

            <button type="button" class="btn btn-primary" onclick="logout()">LogOut</button>

        </div>        
    </div>

 <script>

    var firebaseConfig = {
        apiKey: "AIzaSyDV6MMIv0AUmOG_DsuitiOhZvrh85b4dWA",
        authDomain: "yetu-festival.firebaseapp.com",
        databaseURL: "https://yetu-festival.firebaseio.com",
        projectId: "yetu-festival",
        storageBucket: "yetu-festival.appspot.com",
        messagingSenderId: "969603133155",
        appId: "1:969603133155:web:c36a5a88a9c5b595c2dfd6",
        measurementId: "G-8FG0QQRPR6"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    var selectedtopFile;

    $('#topfile').on("change", function(event){
        selectedtopFile = event.target.files[0];
    });

    function uploadTopImage(){
        // Create a root reference
        var filename = selectedtopFile.name;
        var storageRef = firebase.storage().ref('yetuImages/' + filename);
        var uploadTask = storageRef.put(selectedtopFile);

        uploadTask.on('state_changed', function(snapshot){
        // Observe state change events such as progress, pause, and resume
        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        console.log('Upload is ' + progress + '% done');
        switch (snapshot.state) {
            case firebase.storage.TaskState.PAUSED: // or 'paused'
            console.log('Upload is paused');
            break;
            case firebase.storage.TaskState.RUNNING: // or 'running'
            console.log('Upload is running');
            break;
        }
        }, function(error) {
        // Handle unsuccessful uploads
        }, function() {
        // Handle successful uploads on complete
        // For instance, get the download URL: https://firebasestorage.googleapis.com/...
                
        uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
            console.log('File available at', downloadURL);
        });

        const fb = firebase.database().ref();
        //var imageKey = firebase.database().ref('topimage/').push().key;
        var url = uploadTask.snapshot.downloadURL;
        var id = '001'
        var imageData = {id,url};

        fb.child('topImage/').update(imageData)
        });
    }

    var selectedbottomFile;

    $('#bottomfile').on("change", function(event){
        selectedbottomFile = event.target.files[0];
    });

    function uploadbottomImage(){
        // Create a root reference
        var filename = selectedbottomFile.name;
        var storageRef = firebase.storage().ref('yetuImages/' + filename);
        var uploadTask = storageRef.put(selectedbottomFile);

        uploadTask.on('state_changed', function(snapshot){
        // Observe state change events such as progress, pause, and resume
        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        console.log('Upload is ' + progress + '% done');
        switch (snapshot.state) {
            case firebase.storage.TaskState.PAUSED: // or 'paused'
            console.log('Upload is paused');
            break;
            case firebase.storage.TaskState.RUNNING: // or 'running'
            console.log('Upload is running');
            break;
        }
        }, function(error) {
        // Handle unsuccessful uploads
        }, function() {
        // Handle successful uploads on complete
        // For instance, get the download URL: https://firebasestorage.googleapis.com/...
                
        uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
            console.log('File available at', downloadURL);
        });

        const fb = firebase.database().ref();
        //var imageKey = firebase.database().ref('topimage/').push().key;
        var url = uploadTask.snapshot.downloadURL;
        var id = '002'
        var imageData = {id,url};

        fb.child('bottomImage/').update(imageData);
        });
    }
 </script>

</body>
</html>