<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300i,400,500,600,700,700i,800,900,900i%7CRoboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="cssload-container">
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-minimal rd-navbar-minimal-1" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="50px" data-xl-stick-up-offset="50px" data-xxl-stick-up-offset="50px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-auto-height="false" data-xl-auto-height="false" data-xxl-auto-height="false">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-main-left">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!--RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                      <!--Brand--><a class="brand" href="/index"><img class="brand-logo-dark" src="/images/logo-default-250x108.png" alt="" width="125" height="54"/><img class="brand-logo-light" src="/images/logo-inverse-250x108.png" alt="" width="125" height="54"/></a>
                    </div>
                  </div>
                  <button class="sidebar-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".sidebar-wrap"><span></span></button>
                </div>
                <div class="rd-navbar-main-right">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">About</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/about">About Us</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/team">Team</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/team-member">Team Member</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/events">Events</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/event-schedule">Event Schedule</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/single-event">Single Event</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/news">News</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/news-post">News post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title"><a href="#">Pages 1</a></h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/faq">FAQ</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/gallery">Gallery</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/pricing">Pricing</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/contact-us">Contact Us</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title"><a href="#">Pages 2</a></h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/404">404</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/coming-soon">Coming soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/privacy-policy">Privacy policy</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-image"><a class="rd-megamenu-link" href="/contact-us"></a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><a class="button button-sm button-primary rd-navbar-fixed-element-2" href="#"><span class="icon mdi mdi-calendar-check"></span><span class="button-text">book now</span></a>
                </div>
              </div>
            </div>
            <div class="sidebar-wrap">
              <div class="sidebar">
                <h5 class="sidebar-title">Get in Touch</h5><img src="/images/image-1-333x262.jpg" alt="" width="333" height="262"/>
                <ul class="contacts-creative">
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-telephone"></span></div>
                      <div class="unit-body">T. <a href="tel:#">+61 3 8376 6284</a><br>E. <a href="mailto:#">info@demolink.org</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-clock3"></span></div>
                      <div class="unit-body">Opening Hours:<br>07:00 am - 07:00 pm</div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-map2"></span></div>
                      <div class="unit-body"><a href="#">652 Main Road, Apt 12 New York, USA 10033</a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="sidebar-panel">
                <ul class="list-social">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-google" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-pinterest" href="#"></a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!--Swiper-->
      <section class="section swiper-container swiper-slider swiper-slider-5" data-autoplay="5000" data-slide-effect="fade" data-simulate-touch="false">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-slide-bg="/images/swiper-5-slide-1.jpg">
            <div class="swiper-slide-custom"></div>
          </div>
          <div class="swiper-slide" data-slide-bg="/images/swiper-5-slide-2.jpg">
            <div class="swiper-slide-custom"></div>
          </div>
        </div>
        <div class="swiper-content section-xl">
          <div class="container">
            <div class="row row-30 align-items-center align-items-xl-start justify-content-center team-dana">
              <iframe width="1060" height="660" src="https://www.youtube.com/embed/VT-A8NKQ2bw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <!-- <div class="col-md-10 col-lg-8 col-xl-6 context-dark wow fadeInUp">
                <div class="team-dana-body">
                  <div class="title">
                    <div class="pre-title-group"><span>Welcome</span><span>to club</span></div>
                    <div class="heading-1">Let's</div>
                    <div class="heading-1">Dance</div>
                  </div>
                  <p>Avalon Nightclub is the best place for everyone in New York to enjoy their evening and experience a new side of nightlife entertainment.</p><a class="button button-sm button-secondary" href="/contact-us">Learn More</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </section>
      <!--About-->
      <section class="section section-xxl section-inset-8 bg-dark-gray position-relative">
        <div class="container">
          <div class="row row-40 align-items-center justify-content-lg-between justify-content-center">
            <div class="col-md-7 col-lg-6">
              <div class="inset-1 text-center text-md-left event-caption-wrap text-line-left text-line-big wow fadeInLeft">
                <h2>Bass Fridays: DJ MadZone</h2>
                <p class="big">Next Friday the widely known DJ MadZone will visit Avalon Nightclub to present his latest release and play some of his popular hits and new tracks. Be sure to book your ticket now to not miss this event!</p>
              </div>
              <div class="event-countdown countdown-minimal inset-1">
                <div class="countdown" data-countdown="data-countdown" data-to="2020-03-12">
                  <div class="countdown-block countdown-block-days">
                    <div class="countdown-body">
                      <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200" data-progress-days="">
                        <circle class="countdown-circle-bg" cx="100" cy="100" r="77"></circle>
                        <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90" stroke="url(#gradient-0)"></circle>
                        <defs>
                          <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="gradient-0">
                            <stop offset="0%" stop-color="#1e49c2"></stop>
                            <stop offset="100%" stop-color="#ff5a8c"></stop>
                          </linearGradient>
                        </defs>
                      </svg>
                      <div class="countdown-wrap">
                        <div class="heading-3 countdown-counter" data-counter-days="">00</div>
                      </div>
                    </div>
                    <div class="heading-6 countdown-title">days</div>
                  </div>
                  <div class="countdown-block countdown-block-hours">
                    <div class="countdown-body">
                      <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200" data-progress-hours="">
                        <circle class="countdown-circle-bg" cx="100" cy="100" r="77"></circle>
                        <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90" stroke="url(#gradient-1)"></circle>
                        <defs>
                          <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="gradient-1">
                            <stop offset="0%" stop-color="#1e49c2"></stop>
                            <stop offset="100%" stop-color="#ff5a8c"></stop>
                          </linearGradient>
                        </defs>
                      </svg>
                      <div class="countdown-wrap">
                        <div class="heading-3 countdown-counter" data-counter-hours="">00</div>
                      </div>
                    </div>
                    <div class="heading-6 countdown-title">hours</div>
                  </div>
                  <div class="countdown-block countdown-block-minutes">
                    <div class="countdown-body">
                      <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200" data-progress-minutes="">
                        <circle class="countdown-circle-bg" cx="100" cy="100" r="77"></circle>
                        <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90" stroke="url(#gradient-2)"></circle>
                        <defs>
                          <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="gradient-2">
                            <stop offset="0%" stop-color="#1e49c2"></stop>
                            <stop offset="100%" stop-color="#ff5a8c"></stop>
                          </linearGradient>
                        </defs>
                      </svg>
                      <div class="countdown-wrap">
                        <div class="heading-3 countdown-counter" data-counter-minutes="">00</div>
                      </div>
                    </div>
                    <div class="heading-6 countdown-title">minutes</div>
                  </div>
                  <div class="countdown-block countdown-block-seconds">
                    <div class="countdown-body">
                      <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200" data-progress-seconds="">
                        <circle class="countdown-circle-bg" cx="100" cy="100" r="77"></circle>
                        <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90" stroke="url(#gradient-3)"></circle>
                        <defs>
                          <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="gradient-3">
                            <stop offset="0%" stop-color="#1e49c2"></stop>
                            <stop offset="100%" stop-color="#ff5a8c"></stop>
                          </linearGradient>
                        </defs>
                      </svg>
                      <div class="countdown-wrap">
                        <div class="heading-3 countdown-counter" data-counter-seconds="">00</div>
                      </div>
                    </div>
                    <div class="heading-6 countdown-title">seconds</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-8 col-md-5 wow fadeInUp">
              <div class="video-pattern-wrap pattern-bg-double">
                <!-- Video creative-->
                <article class="video-creative">
                  <div class="video-creative-figure"><img src="/images/video-5-421x465.jpg" alt="" width="421" height="465"/>
                    <div class="video-creative-caption"><a class="video-creative-link" href="https://www.youtube.com/watch?v=1UWpbtUupQQ" data-lightgallery="item"><span class="icon mdi mdi-play"></span></a>
                      <div class="video-creative-title">About event</div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Classes-->
      <section class="section section-xxl section-inset-9 bg-black">
        <div class="container container-style-3">
          <div class="row row-30 row-md-50 align-items-center flex-sm-row-reverse justify-content-xl-between offset-negative-top-1">
            <div class="col-sm-6 col-lg-5 wow fadeInRight">
              <div class="inset-xl-left-40">
                <div class="block-md block-left box-style-3">
                  <h2 class="title-15 text-line-right">Our Team</h2>
                  <p class="big">These people make our nightclub one of the best places for a party in the USA.</p>
                  <div class="group-xl group-middle">
                    <div class="owl-nav-2" id="owl-nav-7"></div><a class="link-default link-default-1" href="/event-schedule">See schedule</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-7 wow fadeInLeft">
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-style-11" data-items="1" data-lg-items="2" data-xxl-items="3" data-margin="30" data-autoplay="false" data-navigation-class="#owl-nav-7">
                <!-- Service-->
                <article class="service-minimal service-minimal-1 service-minimal-2 block-md"><a class="service-minimal-figure" href="#"><img src="/images/service-15-370x346.jpg" alt="" width="370" height="346"/></a>
                  <div class="service-minimal-caption">
                    <div class="heading-4 service-minimal-title"><a href="#">Eva Smith</a></div>
                    <div class="service-minimal-time"><span class="big">Founder, Director</span></div>
                  </div>
                </article>
                <!-- Service-->
                <article class="service-minimal service-minimal-1 service-minimal-2 block-md"><a class="service-minimal-figure" href="#"><img src="/images/service-16-370x346.jpg" alt="" width="370" height="346"/></a>
                  <div class="service-minimal-caption">
                    <div class="heading-4 service-minimal-title"><a href="#">Emma Anderson</a></div>
                    <div class="service-minimal-time"><span class="big">Event Manager</span></div>
                  </div>
                </article>
                <!-- Service-->
                <article class="service-minimal service-minimal-1 service-minimal-2 block-md"><a class="service-minimal-figure" href="#"><img src="/images/service-17-370x346.jpg" alt="" width="370" height="346"/></a>
                  <div class="service-minimal-caption">
                    <div class="heading-4 service-minimal-title"><a href="#">Sam „Krypt” Wilson</a></div>
                    <div class="service-minimal-time"><span class="big">MC</span></div>
                  </div>
                </article>
                <!-- Service-->
                <article class="service-minimal service-minimal-1 service-minimal-2 block-md"><a class="service-minimal-figure" href="#"><img src="/images/service-18-370x346.jpg" alt="" width="370" height="346"/></a>
                  <div class="service-minimal-caption">
                    <div class="heading-4 service-minimal-title"><a href="#">DJ Rez</a></div>
                    <div class="service-minimal-time"><span class="big">Disc Jockey, Turntablist</span></div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--My Approach-->
      <section class="section section-xxl bg-dark-gray">
        <div class="container">
          <div class="row row-30 row-md-50 justify-content-xl-between">
            <div class="col-lg-6 col-xl-5 wow fadeInUp">
              <h2>About Our Club</h2>
              <div class="heading-4 title-16 text-line-left">Who We Are</div>
              <div class="heading-5 title-6 font-weight-light text-italic">Avalon Club was founded in 1999 to revolutionize nightlife & entertainment.</div>
              <ul class="list-marked list-marked-1 big">
                <li>We invite DJs and musicians from all over the world.</li>
                <li>Avalon guarantees the top-level security to every guest.</li>
                <li>Comfortable furniture & the best sound equipment.</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="row row-xl no-gutters justify-content-end bordered-5 offset-negative-xl-left-15">
                <div class="col-sm-6">
                  <!-- Box modern-->
                  <article class="box-modern box-modern-2 wow fadeIn">
                    <div class="box-modern-icon mdi mdi-beer"></div>
                    <div class="heading-5 box-modern-title">Corporate Events</div>
                    <div class="box-modern-text">We can make any corporate event unforgettable.</div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <!-- Box modern-->
                  <article class="box-modern box-modern-2 wow fadeIn" data-wow-delay=".05s">
                    <div class="box-modern-icon mdi mdi-sunglasses"></div>
                    <div class="heading-5 box-modern-title">VIP Services</div>
                    <div class="box-modern-text">Developing a personalized training strategy for my clients.</div>
                  </article>
                </div>
                <div class="col-sm-6 no-border counter-nikki-wrap">
                  <!--Counter nikki-->
                  <div class="counter-nikki">
                    <div class="counter-nikki-main">
                      <div class="heading-1 counter-nikki-number counter">568</div>
                    </div>
                    <div class="counter-nikki-title">Happy clients</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- Box modern-->
                  <article class="box-modern box-modern-2 wow fadeIn">
                    <div class="box-modern-icon mdi mdi-cake-variant"></div>
                    <div class="heading-5 box-modern-title">Birthday Parties</div>
                    <div class="box-modern-text">Avalon is the best place to have a memorable birthday.</div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Schedule-->
      <section class="section section-xxl bg-black">
        <div class="container text-center">
          <div class="heading-7 title-15 wow fadeInUp">Upcoming Events</div>
          <p class="letter-spacing-25 big wow fadeInUp">Our club organizes regular events featuring top DJs and musicians. Feel free to find out more about our <br class="d-none d-lg-block">upcoming events and book a ticket using the schedule below.
          </p>
          <!--Bootstrap tabs-->
          <div class="tabs-custom tabs-classic tabs-classic-2 tabs-classic-3">
            <!--Nav tabs-->
            <ul class="nav nav-tabs wow fadeInUp">
              <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-schedule-1-1" data-toggle="tab">April</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-schedule-1-2" data-toggle="tab">June</a></li>
            </ul>
            <!--Tab panes-->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabs-schedule-1-1">
                <!--Bootstrap collapse-->
                <div id="accordion1" role="tablist" aria-multiselectable="false">
                        <!--Bootstrap card-->
                        <article class="card card-custom card-style-1 wow fadeInUp">
                          <div class="card-header" role="tab">
                            <div class="card-title schedule schedule-2">
                              <div class="schedule-body group-lg">
                                <div class="heading-4 schedule-days">DJ Ocean &amp; DJ Thunder</div>
                                <div>
                                  <ul class="schedule-info">
                                    <li class="schedule-info-item"><span class="icon mdi mdi-clock"></span><span class="big">April 15, 8:30 pm</span></li>
                                    <li class="schedule-info-item"><span class="icon mdi mdi-coin"></span><span class="big">From $50</span></li>
                                  </ul>
                                </div>
                                <div class="schedule-button-wrap"><a class="button button-default-outline-3" href="/contact-us">Book now</a><a class="schedule-button" id="accordion1-card-head-uccyijwx" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-vfaxqqmb" aria-controls="accordion1-card-body-vfaxqqmb" aria-expanded="true" role="button"></a></div>
                              </div>
                            </div>
                          </div>
                          <div class="collapse show" id="accordion1-card-body-vfaxqqmb" aria-labelledby="accordion1-card-head-uccyijwx" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                    <div class="owl-carousel" data-items="1" data-sm-items="2" data-md-items="3" data-margin="16" data-mouse-drag="false" data-dots="true" data-loop="false" data-lightgallery="group">
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-13-1200x800-original.jpg"><img src="/images/gallery-13-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-14-1200x800-original.jpg"><img src="/images/gallery-14-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-15-1200x800-original.jpg"><img src="/images/gallery-15-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                    </div>
                            </div>
                          </div>
                        </article>
                        <!--Bootstrap card-->
                        <article class="card card-custom card-style-1 wow fadeInUp">
                          <div class="card-header" role="tab">
                            <div class="card-title schedule schedule-2">
                              <div class="schedule-body group-lg">
                                <div class="heading-4 schedule-days">Miss Apollo</div>
                                <div>
                                  <ul class="schedule-info">
                                    <li class="schedule-info-item"><span class="icon mdi mdi-clock"></span><span class="big">April 15, 11:30 pm</span></li>
                                    <li class="schedule-info-item"><span class="icon mdi mdi-coin"></span><span class="big">From $100</span></li>
                                  </ul>
                                </div>
                                <div class="schedule-button-wrap"><a class="button button-default-outline-3" href="/contact-us">Book now</a><a class="schedule-button collapsed" id="accordion1-card-head-hwmtmaag" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-agelrojy" aria-controls="accordion1-card-body-agelrojy" aria-expanded="false" role="button"></a></div>
                              </div>
                            </div>
                          </div>
                          <div class="collapse" id="accordion1-card-body-agelrojy" aria-labelledby="accordion1-card-head-hwmtmaag" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                    <div class="owl-carousel" data-items="1" data-sm-items="2" data-md-items="3" data-margin="16" data-mouse-drag="false" data-dots="true" data-loop="false" data-lightgallery="group">
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-27-1200x800-original.jpg"><img src="/images/gallery-27-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-28-1200x800-original.jpg"><img src="/images/gallery-28-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-29-1200x800-original.jpg"><img src="/images/gallery-29-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                    </div>
                            </div>
                          </div>
                        </article>
                        <!--Bootstrap card-->
                        <article class="card card-custom card-style-1 wow fadeInUp">
                          <div class="card-header" role="tab">
                            <div class="card-title schedule schedule-2">
                              <div class="schedule-body group-lg">
                                <div class="heading-4 schedule-days">Knight Fighters</div>
                                <div>
                                  <ul class="schedule-info">
                                    <li class="schedule-info-item"><span class="icon mdi mdi-clock"></span><span class="big">12:30 pm - 1:00 am</span></li>
                                    <li class="schedule-info-item"><span class="icon mdi mdi-coin"></span><span class="big">From $150</span></li>
                                  </ul>
                                </div>
                                <div class="schedule-button-wrap"><a class="button button-default-outline-3" href="/contact-us">Book now</a><a class="schedule-button collapsed" id="accordion1-card-head-bsmesmwp" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-dconyohd" aria-controls="accordion1-card-body-dconyohd" aria-expanded="false" role="button"></a></div>
                              </div>
                            </div>
                          </div>
                          <div class="collapse" id="accordion1-card-body-dconyohd" aria-labelledby="accordion1-card-head-bsmesmwp" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                    <div class="owl-carousel" data-items="1" data-sm-items="2" data-md-items="3" data-margin="16" data-mouse-drag="false" data-dots="true" data-loop="false" data-lightgallery="group">
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-30-1200x800-original.jpg"><img src="/images/gallery-30-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-31-1200x800-original.jpg"><img src="/images/gallery-31-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-32-1200x800-original.jpg"><img src="/images/gallery-32-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                    </div>
                            </div>
                          </div>
                        </article>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-schedule-1-2">
                <!--Bootstrap collapse-->
                <div id="accordion2" role="tablist" aria-multiselectable="false">
                        <!--Bootstrap card-->
                        <article class="card card-custom card-style-1">
                          <div class="card-header" role="tab">
                            <div class="card-title schedule schedule-2">
                              <div class="schedule-body group-lg">
                                <div class="heading-4 schedule-days">Miss Apollo</div>
                                <div>
                                  <ul class="schedule-info">
                                    <li class="schedule-info-item"><span class="icon mdi mdi-clock"></span><span class="big">June 15, 11:30 pm</span></li>
                                    <li class="schedule-info-item"><span class="icon mdi mdi-coin"></span><span class="big">From $100</span></li>
                                  </ul>
                                </div>
                                <div class="schedule-button-wrap"><a class="button button-default-outline-3" href="/contact-us">Book now</a><a class="schedule-button" id="accordion2-card-head-ukpgqdka" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-bxpwhuoy" aria-controls="accordion2-card-body-bxpwhuoy" aria-expanded="true" role="button"></a></div>
                              </div>
                            </div>
                          </div>
                          <div class="collapse show" id="accordion2-card-body-bxpwhuoy" aria-labelledby="accordion2-card-head-ukpgqdka" data-parent="#accordion2" role="tabpanel">
                            <div class="card-body">
                                    <div class="owl-carousel" data-items="1" data-sm-items="2" data-md-items="3" data-margin="16" data-mouse-drag="false" data-dots="true" data-loop="false" data-lightgallery="group">
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-27-1200x800-original.jpg"><img src="/images/gallery-27-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-28-1200x800-original.jpg"><img src="/images/gallery-28-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-29-1200x800-original.jpg"><img src="/images/gallery-29-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                    </div>
                            </div>
                          </div>
                        </article>
                        <!--Bootstrap card-->
                        <article class="card card-custom card-style-1">
                          <div class="card-header" role="tab">
                            <div class="card-title schedule schedule-2">
                              <div class="schedule-body group-lg">
                                <div class="heading-4 schedule-days">DJ Ocean &amp; DJ Thunder</div>
                                <div>
                                  <ul class="schedule-info">
                                    <li class="schedule-info-item"><span class="icon mdi mdi-clock"></span><span class="big">June 15, 8:30 pm</span></li>
                                    <li class="schedule-info-item"><span class="icon mdi mdi-coin"></span><span class="big">From $50</span></li>
                                  </ul>
                                </div>
                                <div class="schedule-button-wrap"><a class="button button-default-outline-3" href="/contact-us">Book now</a><a class="schedule-button collapsed" id="accordion2-card-head-xxrlicxt" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-ycunockg" aria-controls="accordion2-card-body-ycunockg" aria-expanded="false" role="button"></a></div>
                              </div>
                            </div>
                          </div>
                          <div class="collapse" id="accordion2-card-body-ycunockg" aria-labelledby="accordion2-card-head-xxrlicxt" data-parent="#accordion2" role="tabpanel">
                            <div class="card-body">
                                    <div class="owl-carousel" data-items="1" data-sm-items="2" data-md-items="3" data-margin="16" data-mouse-drag="false" data-dots="true" data-loop="false" data-lightgallery="group">
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-13-1200x800-original.jpg"><img src="/images/gallery-13-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-14-1200x800-original.jpg"><img src="/images/gallery-14-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-15-1200x800-original.jpg"><img src="/images/gallery-15-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                    </div>
                            </div>
                          </div>
                        </article>
                        <!--Bootstrap card-->
                        <article class="card card-custom card-style-1">
                          <div class="card-header" role="tab">
                            <div class="card-title schedule schedule-2">
                              <div class="schedule-body group-lg">
                                <div class="heading-4 schedule-days">Knight Fighters</div>
                                <div>
                                  <ul class="schedule-info">
                                    <li class="schedule-info-item"><span class="icon mdi mdi-clock"></span><span class="big">12:30 pm - 1:00 am</span></li>
                                    <li class="schedule-info-item"><span class="icon mdi mdi-coin"></span><span class="big">From $150</span></li>
                                  </ul>
                                </div>
                                <div class="schedule-button-wrap"><a class="button button-default-outline-3" href="/contact-us">Book now</a><a class="schedule-button collapsed" id="accordion2-card-head-ofmaqsio" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-rsbwwyep" aria-controls="accordion2-card-body-rsbwwyep" aria-expanded="false" role="button"></a></div>
                              </div>
                            </div>
                          </div>
                          <div class="collapse" id="accordion2-card-body-rsbwwyep" aria-labelledby="accordion2-card-head-ofmaqsio" data-parent="#accordion2" role="tabpanel">
                            <div class="card-body">
                                    <div class="owl-carousel" data-items="1" data-sm-items="2" data-md-items="3" data-margin="16" data-mouse-drag="false" data-dots="true" data-loop="false" data-lightgallery="group">
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-30-1200x800-original.jpg"><img src="/images/gallery-30-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-31-1200x800-original.jpg"><img src="/images/gallery-31-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                            <!-- Thumbnail-->
                                            <article class="thumbnail"><a class="thumbnail-figure" data-lightgallery="item" href="/images/gallery-32-1200x800-original.jpg"><img src="/images/gallery-32-380x240.jpg" alt="" width="380" height="240"/>
                                                <div class="thumbnail-overlay"><span class="icon mdi mdi-magnify"></span>
                                                </div></a></article>
                                    </div>
                            </div>
                          </div>
                        </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Are You Ready-->
      <section class="section section-xxl position-relative bg-dark-gray section-xl-custom">
        <div class="container">
          <div class="row row-30 flex-md-row-reverse justify-content-lg-between">
            <div class="col-md-6 position-static">
              <div class="image-position image-position-right pattern-bg-double-2 slideInCustom"><img src="/images/image-9-1002x552.jpg" alt="" width="1002" height="552"/>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow fadeInLeft">
              <h2 class="title-15">Best Nightclub</h2>
              <div class="heading-4 title-16 text-line-left">Enjoy Your Evening</div>
              <div class="heading-5 title-6">Avalon is the #1 place offering best night entertainment, parties, snacks drinks, and unique atmosphere.</div>
              <div class="group-md group-middle"><a class="button button-md button-secondary" href="/contact-us">Contact us</a>
                <div class="big d-none d-xl-block">or</div>
                <div class="contacts-fiona">
                  <div class="contacts-fiona-text">Call us for any question</div>
                  <div class="heading-5 contacts-fiona-link"><a href="tel:#">+61 3 8376 6284</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Testimonials-->
      <section class="section section-xl bg-dark-gray text-center">
        <div class="owl-style-12 section-sm wow fadeInUp">
          <div class="container">
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-nav-1" data-items="1" data-lg-items="2" data-nav="true" data-dots="true" data-autoplay="true" data-margin="30" data-xl-margin="100" data-xxl-margin="170" data-smart-speed="400">
              <!-- Quote karen-->
              <article class="quote-karen">
                <div class="unit unit-spacing-xl flex-column flex-sm-row">
                  <div class="unit-left"><img class="quote-karen-image" src="/images/user-17-80x80.jpg" alt="" width="80" height="80"/>
                  </div>
                  <div class="unit-body">
                    <div class="quote-karen-content">
                      <div class="heading-5 quote-karen-author"><span>James Johnson</span></div>
                      <div class="quote-karen-position">regular visitor</div>
                      <div class="big quote-karen-text">
                        <p class="q">”Avalon is one of the best nightclubs I’ve ever been to and I’ve been to a lot of clubs. They have the best DJs &amp; MCs, famous guests, awesome parties, and a great drinks menu. This nightclub is my number one recommendation.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Quote karen-->
              <article class="quote-karen">
                <div class="unit unit-spacing-xl flex-column flex-sm-row">
                  <div class="unit-left"><img class="quote-karen-image" src="/images/user-15-80x80.jpg" alt="" width="80" height="80"/>
                  </div>
                  <div class="unit-body">
                    <div class="quote-karen-content">
                      <div class="heading-5 quote-karen-author"><span>Grace Dean</span></div>
                      <div class="quote-karen-position">regular visitor</div>
                      <div class="big quote-karen-text">
                        <p class="q">”The unique and comfortable atmosphere of this club is what attracts me the most. The music here is also great, and what’s more important security does their job very well. Cocktails are tasty and the interior is quite original.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Quote karen-->
              <article class="quote-karen">
                <div class="unit unit-spacing-xl flex-column flex-sm-row">
                  <div class="unit-left"><img class="quote-karen-image" src="/images/user-18-80x80.jpg" alt="" width="80" height="80"/>
                  </div>
                  <div class="unit-body">
                    <div class="quote-karen-content">
                      <div class="heading-5 quote-karen-author"><span>Kate Williams</span></div>
                      <div class="quote-karen-position">regular visitor</div>
                      <div class="big quote-karen-text">
                        <p class="q">”This nightclub has the best DJs! I visit Avalon with my friends every Friday night to listen to new explosive sets by the world’s best DJs and musicians. Each time it’s a whole new experience. I highly recommend this club!”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div><a class="link-default wow fadeInUp" href="#">view More</a>
      </section>
      <section class="section section-xxl bg-black text-center">
        <div class="container">
          <div class="group-sm group-custom-5 wow fadeInUp">
            <h3>Latest News</h3>
            <div><a class="link-default" href="/news">Read More</a></div>
          </div>
          <div class="row row-30 row-md-50 row-lg">
            <div class="col-md-6 wow fadeInLeft">
              <!--post bonnie-->
              <article class="post-bonnie block-xl"><a class="post-bonnie-figure" href="/news-post"><img class="img-duotone" src="/images/post-24-570x360.jpg" alt="" width="570" height="360" data-gradient-map="#181b6e, #ffffff"/></a>
                <div class="post-bonnie-content">
                  <div class="heading-5 post-bonnie-title"><a href="/news-post">Get a Chance to Meet  <br>Your Favorite Musician</a></div>
                  <div class="post-bonnie-time">
                    <time datetime="2020-05-25">May 25, 2020</time>
                  </div>
                  <div class="post-bonnie-text big">Have you ever wanted to meet a musician but didn’t have enough money for their concert? Then our new...</div>
                </div>
              </article>
            </div>
            <div class="col-md-6 wow fadeInRight">
              <!--post bonnie-->
              <article class="post-bonnie block-xl"><a class="post-bonnie-figure" href="/news-post"><img class="img-duotone" src="/images/post-25-570x360.jpg" alt="" width="570" height="360" data-gradient-map="#181b6e, #ffffff"/></a>
                <div class="post-bonnie-content">
                  <div class="heading-5 post-bonnie-title"><a href="/news-post">How Security Works at  <br>Avalon Nightclub</a></div>
                  <div class="post-bonnie-time">
                    <time datetime="2020-05-29">May 29, 2020</time>
                  </div>
                  <div class="post-bonnie-text big">The main task of nightclub security is to protect the club’s founder, inventory, employees and guests, as...</div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!--Have Any Questions?-->
      <section class="parallax-container bg-gray-13" data-parallax-img="/images/parallax-7.jpg">
        <div class="parallax-content section-xxl">
          <div class="container">
            <div class="row row-30 row-md-50">
              <div class="col-lg-4 col-xl-5 wow fadeInLeft">
                <div class="inset-xl-right-30">
                  <h2 class="title-15">Get in Touch with Us</h2>
                  <div class="heading-5 title-6 text-italic">Feel free to send us a message to book a table or ask us a question.</div>
                  <ul class="list-contacts">
                    <li><span class="icon mdi mdi-phone"></span><a class="big" href="tel:#">+1 800 123 1234</a></li>
                    <li><span class="icon mdi mdi-map-marker"></span><a class="big" href="#">652 Main Road, Apt 12 New York, USA</a></li>
                    <li><span class="icon mdi mdi-email-outline"></span><a class="big" href="mailto:#">info@demolink.org</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-8 col-xl-7 wow fadeInRight">
                <!--RD Mailform-->
                <form class="rd-form rd-mailform form-style-4" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                  <div class="row row-20 gutter-20">
                    <div class="col-sm-6">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                        <label class="form-label" for="contact-name">Your Name</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-surname" type="text" name="name" data-constraints="@Required">
                        <label class="form-label" for="contact-surname">Your Surname</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Numeric">
                        <label class="form-label" for="contact-phone">Phone</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                        <label class="form-label" for="contact-email">E-mail</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-wrap">
                        <label class="form-label" for="contact-message">Message</label>
                        <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="group-lg group-custom-1">
                    <p class="text-5"> We answer all letters and messages in order of priority. Our team will answer all your questions.</p>
                    <div>
                      <button class="button button-secondary button-md" type="submit">submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="section">
        <div class="footer-minimal bg-default text-center text-md-left">
          <div class="container wow fadeInUp">
            <div class="row row-20 justify-content-md-between">
              <div class="col-md-7 col-lg-4 col-xl-auto">
                <p class="rights"><span>Avalon</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><a href="/privacy-policy">Privacy Policy.</a></p>
              </div>
              <div class="col-md-auto">
                <ul class="list-social list-inline list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-youtube-play" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-auto">
                <ul class="footer-creative-nav list-inline list-inline-md">
                  <li><a href="/events">Events</a></li>
                  <li><a href="/gallery">Gallery</a></li>
                  <li><a href="/contact-us">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>