<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>News post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300i,400,500,600,700,700i,800,900,900i%7CRoboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="cssload-container">
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-minimal rd-navbar-minimal-1" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="50px" data-xl-stick-up-offset="50px" data-xxl-stick-up-offset="50px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-auto-height="false" data-xl-auto-height="false" data-xxl-auto-height="false">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-main-left">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!--RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                      <!--Brand--><a class="brand" href="/index"><img class="brand-logo-dark" src="/images/logo-default-250x108.png" alt="" width="125" height="54"/><img class="brand-logo-light" src="/images/logo-inverse-250x108.png" alt="" width="125" height="54"/></a>
                    </div>
                  </div>
                  <button class="sidebar-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".sidebar-wrap"><span></span></button>
                </div>
                <div class="rd-navbar-main-right">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/index">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">About</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/about-us">About Us</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/team">Team</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/team-member">Team Member</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/events">Events</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/event-schedule">Event Schedule</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/single-event">Single Event</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/news">News</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/news-post">News post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title"><a href="#">Pages 1</a></h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/faq">FAQ</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/gallery">Gallery</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/pricing">Pricing</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/contact-us">Contact Us</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title"><a href="#">Pages 2</a></h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/404">404</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/coming-soon">Coming soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/privacy-policy">Privacy policy</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-image"><a class="rd-megamenu-link" href="/contact-us"></a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><a class="button button-sm button-primary rd-navbar-fixed-element-2" href="#"><span class="icon mdi mdi-calendar-check"></span><span class="button-text">book now</span></a>
                </div>
              </div>
            </div>
            <div class="sidebar-wrap">
              <div class="sidebar">
                <h5 class="sidebar-title">Get in Touch</h5><img src="/images/image-1-333x262.jpg" alt="" width="333" height="262"/>
                <ul class="contacts-creative">
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-telephone"></span></div>
                      <div class="unit-body">T. <a href="tel:#">+61 3 8376 6284</a><br>E. <a href="mailto:#">info@demolink.org</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-clock3"></span></div>
                      <div class="unit-body">Opening Hours:<br>07:00 am - 07:00 pm</div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-map2"></span></div>
                      <div class="unit-body"><a href="#">652 Main Road, Apt 12 New York, USA 10033</a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="sidebar-panel">
                <ul class="list-social">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-google" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-pinterest" href="#"></a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark scroll-handler" style="background-image: url(/images/bg-breadcrumbs.jpg);">
        <div class="image-overlay" data-canvas-src="/images/bg-breadcrumbs.jpg" style="background-image: url(/images/bg-breadcrumbs.jpg);"></div>
        <div class="breadcrumbs-main">
          <div class="container">
            <h2 class="breadcrumbs-custom-title scroll-title">News post</h2>
          </div>
        </div>
        <div class="breadcrumbs-panel">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="/index">Home</a></li>
              <li><a href="/news">News</a></li>
              <li class="active">News post</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Blog Post-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 row-lg-70">
            <div class="col-lg-8">
              <div class="row row-50 row-lg-80 row-xl-100">
                <div class="col-12">
                  <div class="post-big">
                    <h3 class="post-big-title">Get a Chance to Meet Your Favorite Musician</h3>
                    <ul class="post-big-info list-inline list-inline-lg">
                      <li><a class="post-tag post-tag-primary" href="#">News</a></li>
                      <li>
                        <time class="post-big-time" datetime="2020-05-29">May 29, 2020</time>
                      </li>
                      <li>
                        <div class="post-big-author"><span>by </span><a href="#">Alex Smith</a></div>
                      </li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui   smod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel</p><img src="/images/single-post-1-770x403.jpg" alt="" width="770" height="403"/>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                    <!-- Quote-->
                    <article class="quote">
                      <div class="quote-body">
                        <div class="heading-4 quote-text">
                          <p class="q">Take a chance to meet your favorite musician, DJ, or band by attending a special event this weekend at Avalon Nightclub.</p>
                        </div>
                      </div>
                    </article><img src="/images/single-post-2-770x403.jpg" alt="" width="770" height="403"/>
                    <p>Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Enim lobortis scelerisque fermentum dui faucibus. A lacus vestibulum sed arcu non. Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Neque gravida in fermentum et sollicitudin. Eros in cursus turpis massa. In tellus integer feugiat scelerisque. Nam libero justo laoreet sit amet cursus sit.</p>
                    <div class="post-big-share">
                      <div class="group-lg group-justify align-items-center">
                        <div class="post-big-share-title big">Share this post</div>
                        <div>
                          <ul class="list-social list-inline list-inline-md">
                            <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon mdi mdi-google" href="#"></a></li>
                            <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon mdi mdi-pinterest" href="#"></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <h6 class="title-5">Related Posts</h6>
                  <div class="row row-md row-30">
                    <div class="col-sm-6">
                      <!--post creative-->
                      <article class="post-classic block-md"><img class="post-classic-image" src="/images/post-10-370x366.jpg" alt="" width="370" height="366"/>
                        <div class="post-classic-content">
                          <div><a class="post-tag post-tag-primary" href="#">News</a></div>
                          <div class="heading-5 post-classic-title"><a href="#">The Art of MCing: Professional MCs Tell Their Tips</a></div>
                        </div>
                        <div class="post-classic-dummy"></div>
                      </article>
                    </div>
                    <div class="col-sm-6">
                      <!--post creative-->
                      <article class="post-classic block-md"><img class="post-classic-image" src="/images/post-11-370x366.jpg" alt="" width="370" height="366"/>
                        <div class="post-classic-content">
                          <div><a class="post-tag post-tag-primary" href="#">News</a></div>
                          <div class="heading-5 post-classic-title"><a href="#">Top 5 Skills Any DJ Needs to Build a Career at a Nightclub</a></div>
                        </div>
                        <div class="post-classic-dummy"></div>
                      </article>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <h6 class="title-5"><span>3</span>Comments</h6>
                  <div class="comment-classic">
                    <div class="unit unit-spacing-lg flex-column flex-sm-row">
                      <div class="unit-left"><img class="comment-classic-image" src="/images/user-6-66x66.jpg" alt="" width="66" height="66"/>
                      </div>
                      <div class="unit-body">
                        <div class="group-sm group-justify align-items-center">
                          <div class="heading-6 comment-classic-author">Edward</div>
                          <div class="comment-classic-time">3 day ago</div>
                        </div>
                        <p class="comment-classic-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <ul class="comment-classic-panel list-inline list-inline-md">
                          <li class="comment-classic-link"><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">32</a></li>
                          <li class="comment-classic-link"><span class="icon mdi mdi-comment-outline"></span><a href="#">Reply</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="comment-classic">
                      <div class="unit unit-spacing-lg flex-column flex-sm-row">
                        <div class="unit-left"><img class="comment-classic-image" src="/images/user-7-66x66.jpg" alt="" width="66" height="66"/>
                        </div>
                        <div class="unit-body">
                          <div class="group-sm group-justify align-items-center">
                            <div class="heading-6 comment-classic-author">Anna</div>
                            <div class="comment-classic-time">1 day ago</div>
                          </div>
                          <p class="comment-classic-text">Ac ut consequat semper viverra. Magna eget est lorem ipsum dolor sit. Commodo sed egestas egestas fringilla phasellus faucibus.</p>
                          <ul class="comment-classic-panel list-inline list-inline-md">
                            <li class="comment-classic-link"><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">32</a></li>
                            <li class="comment-classic-link"><span class="icon mdi mdi-comment-outline"></span><a href="#">Reply</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="comment-classic">
                    <div class="unit unit-spacing-lg flex-column flex-sm-row">
                      <div class="unit-left"><img class="comment-classic-image" src="/images/user-8-66x66.jpg" alt="" width="66" height="66"/>
                      </div>
                      <div class="unit-body">
                        <div class="group-sm group-justify align-items-center">
                          <div class="heading-6 comment-classic-author">John</div>
                          <div class="comment-classic-time">1 day ago</div>
                        </div>
                        <p class="comment-classic-text">Condimentum lacinia quis vel eros. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Quis eleifend quam adipiscing vitae proin sagittis. Risus commodo viverra maecenas accumsan lacus vel facilisis. Mus mauris vitae ultricies leo integer malesuada nunc. Netus et malesuada fames ac turpis egestas sed</p>
                        <ul class="comment-classic-panel list-inline list-inline-md">
                          <li class="comment-classic-link"><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">32</a></li>
                          <li class="comment-classic-link"><span class="icon mdi mdi-comment-outline"></span><a href="#">Reply</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="comment-form">
                    <div class="unit unit-spacing-lg flex-column flex-sm-row">
                      <div class="unit-left"><img class="comment-classic-image" src="/images/user-9-66x66.jpg" alt="" width="66" height="66"/>
                      </div>
                      <div class="unit-body">
                        <div class="heading-6 comment-classic-author">Jane</div>
                        <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                          <div class="form-wrap">
                            <label class="form-label" for="comment-message">Your comment</label>
                            <textarea class="form-input" id="comment-message" name="message" data-constraints="@Required"></textarea>
                          </div>
                          <button class="button button-lg button-secondary" type="submit">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="inset-xl-left-40">
                <div class="aside row row-50 row-lg-70">
                  <div class="aside-item col-12">
                    <!-- RD Search Form-->
                    <form class="form-search rd-search form-search form-style-2">
                      <div class="form-wrap">
                        <label class="form-label" for="search-form">Enter a keyword...</label>
                        <input class="form-input" id="search-form" type="text" name="s" autocomplete="off">
                        <button class="button-search mdi mdi-magnify" disabled="disabled"></button>
                      </div>
                    </form>
                  </div>
                  <div class="aside-item col-sm-6 col-lg-12">
                    <h6 class="aside-title">Categories</h6>
                    <ul class="list-marked list-marked-2 list-category">
                      <li><a href="#"><span>News</span><span>12</span></a></li>
                      <li><a href="#"><span>Events</span><span>10</span></a></li>
                      <li><a href="#"><span>Tips</span><span>11</span></a></li>
                      <li><a href="#"><span>Nightclub</span><span>14</span></a></li>
                    </ul>
                  </div>
                  <div class="aside-item col-sm-6 col-lg-12">
                    <h6 class="aside-title">Popular Posts</h6>
                    <div class="post-minimal-wrap">
                      <!--post minimal-->
                      <article class="post-minimal">
                        <div class="unit align-items-md-center">
                          <div class="unit-left"><a class="post-minimal-figure" href="#"><img src="/images/post-7-106x104.jpg" alt="" width="106" height="104"/></a></div>
                          <div class="unit-body">
                            <div class="post-minimal-title"><a href="#">How Security Works at Avalon Nightclub</a></div>
                            <div class="post-minimal-time">
                              <time datetime="2020-05-29">May 29, 2020</time>
                            </div>
                          </div>
                        </div>
                      </article>
                      <!--post minimal-->
                      <article class="post-minimal">
                        <div class="unit align-items-md-center">
                          <div class="unit-left"><a class="post-minimal-figure" href="#"><img src="/images/post-8-106x104.jpg" alt="" width="106" height="104"/></a></div>
                          <div class="unit-body">
                            <div class="post-minimal-title"><a href="#">Dance Battle at Avalon Nightclub: Photos &amp; Videos</a></div>
                            <div class="post-minimal-time">
                              <time datetime="2020-05-15">May 15, 2020</time>
                            </div>
                          </div>
                        </div>
                      </article>
                      <!--post minimal-->
                      <article class="post-minimal">
                        <div class="unit align-items-md-center">
                          <div class="unit-left"><a class="post-minimal-figure" href="#"><img src="/images/post-9-106x104.jpg" alt="" width="106" height="104"/></a></div>
                          <div class="unit-body">
                            <div class="post-minimal-title"><a href="#">The Best Parties for a New Summer Season</a></div>
                            <div class="post-minimal-time">
                              <time datetime="2020-05-15">May 15, 2020</time>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                  <div class="aside-item col-sm-6 col-lg-12">
                    <h6 class="aside-title">Archive</h6>
                    <ul class="list-marked list-marked-2">
                      <li><a href="#">September 2020</a></li>
                      <li><a href="#">August 2020</a></li>
                    </ul>
                  </div>
                  <div class="aside-item col-sm-6 col-lg-12">
                    <h6 class="aside-title">Tags</h6>
                    <div class="group-xs group-middle"><a class="button-tag" href="#">News</a><a class="button-tag" href="#">Article</a><a class="button-tag" href="#">Nightlife</a><a class="button-tag" href="#">Nightclub</a><a class="button-tag" href="#">Parties</a><a class="button-tag" href="#">Events</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="section">
        <div class="footer-minimal bg-default text-center text-md-left">
          <div class="container wow fadeInUp">
            <div class="row row-20 justify-content-md-between">
              <div class="col-md-7 col-lg-4 col-xl-auto">
                <p class="rights"><span>Avalon</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><a href="/privacy-policy">Privacy Policy.</a></p>
              </div>
              <div class="col-md-auto">
                <ul class="list-social list-inline list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-youtube-play" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-auto">
                <ul class="footer-creative-nav list-inline list-inline-md">
                  <li><a href="/events">Events</a></li>
                  <li><a href="/gallery">Gallery</a></li>
                  <li><a href="/contact-us">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>