<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Team Member</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300i,400,500,600,700,700i,800,900,900i%7CRoboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="cssload-container">
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="50px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-250x108.png" alt="" width="125" height="54"/><img class="brand-logo-light" src="images/logo-inverse-250x108.png" alt="" width="125" height="54"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                    </li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="#">About</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="about-us.html">About Us</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="team.html">Team</a>
                        </li>
                        <li class="rd-dropdown-item active"><a class="rd-dropdown-link" href="team-member.html">Team Member</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="events.html">Events</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="event-schedule.html">Event Schedule</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-event.html">Single Event</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="news.html">News</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="news-post.html">News post</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                      <ul class="rd-menu rd-navbar-megamenu">
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="#">Pages 1</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="faq.html">FAQ</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="gallery.html">Gallery</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing.html">Pricing</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us.html">Contact Us</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="#">Pages 2</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404.html">404</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-image"><a class="rd-megamenu-link" href="contact-us.html"></a></li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Elements</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="typography.html">Typography</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="buttons.html">Buttons</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="forms.html">Forms</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="tabs.html">Tabs</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="progress-bars.html">Progress bars</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="counters.html">Counters</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="icon-lists.html">Icon lists</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="rd-navbar-fixed-element-2"><a class="button button-primary-gradient" href="#">Book Now</a></div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark scroll-handler" style="background-image: url(images/bg-breadcrumbs.jpg);">
        <div class="image-overlay" data-canvas-src="images/bg-breadcrumbs.jpg" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
        <div class="breadcrumbs-main">
          <div class="container">
            <h2 class="breadcrumbs-custom-title scroll-title">Team Member</h2>
          </div>
        </div>
        <div class="breadcrumbs-panel">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li class="active">Team Member</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Single coach page-->
      <section class="section section-xl bg-default">
        <div class="container">
          <div class="row row-30 row-lg-50">
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="images/team-11-500x537.jpg" alt="" width="500" height="537"/>
            </div>
            <div class="col-md-7 col-lg-6">
              <div class="team-big">
                <div class="heading-3 team-big-name">Jack Johnson</div>
                <div class="team-big-position">VIP Host</div>
                <ul class="list-social list-inline list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-google" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-pinterest" href="#"></a></li>
                </ul>
                <div class="big team-big-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gimply dummy text of the printing and typesetting industryorem Ipsum has been the industry's standard dummy texake of the.</div>
                <div class="progress-linear-wrap">
                  <!--Linear progress bar-->
                  <div class="progress-linear">
                    <div class="progress-linear-header">
                      <p class="progress-linear-title">Dedication</p><span class="progress-linear-counter">85</span>
                    </div>
                    <div class="progress-linear-body">
                      <div class="progress-linear-bar"></div>
                    </div>
                  </div>
                  <!--Linear progress bar-->
                  <div class="progress-linear progress-linear-blue">
                    <div class="progress-linear-header">
                      <p class="progress-linear-title">Knowledge</p><span class="progress-linear-counter">80</span>
                    </div>
                    <div class="progress-linear-body">
                      <div class="progress-linear-bar"></div>
                    </div>
                  </div>
                  <!--Linear progress bar-->
                  <div class="progress-linear progress-linear-secondary">
                    <div class="progress-linear-header">
                      <p class="progress-linear-title">Experience</p><span class="progress-linear-counter">70</span>
                    </div>
                    <div class="progress-linear-body">
                      <div class="progress-linear-bar"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="section">
        <div class="footer-minimal bg-default text-center text-md-left">
          <div class="container wow fadeInUp">
            <div class="row row-20 justify-content-md-between">
              <div class="col-md-7 col-lg-4 col-xl-auto">
                <p class="rights"><span>Avalon</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy.</a></p>
              </div>
              <div class="col-md-auto">
                <ul class="list-social list-inline list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-youtube-play" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-auto">
                <ul class="footer-creative-nav list-inline list-inline-md">
                  <li><a href="events.html">Events</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="contact-us.html">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>